
<%= form_for([:admin,@page]) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this leafe from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<ul>
	<li> 
		<span class="width_align_right">项目名称</span> 
       <span class="width_content">
       	<%=f.text_field :title,class: "field error project_title text large"%>
       </span>
    </li>
   

     <li> 
		<span class="width_align_right">项目内容 </span>
		<span class="width_content"><%= f.fields_for (action_name=="new" ? :content_attributes : :content)  do |c|%>
                  <%=c.kindeditor :body,:height=>650%>
		<%end%></span>
		
        
       
    </li>
    <li><div class="actions">
    <%= f.submit '提交'%>
  </div></li>
    
</ul>
 
  
<% end %>

