
<%= form_for([:admin,@article],:html=>{class: "new_article"}) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this leafe from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<ul>
	<li> 
		<span class="width_align_right">文章标题</span> 
       <span class="width_content">
       	<%=f.text_field :title,class: "field error project_title text large"%>
       </span>
    </li>
   

     <li> 
		<span class="width_align_right">文章内容 </span>
		<span class="width_content"><%= kindeditor_tag :content %><%#= f.fields_for (action_name=="new" ? :content_attributes : :content)  do |c|%>
                  <%#=c.kindeditor :body,:height=>650%>
		<%#end%></span>
		
        
       
    </li>
    <li><div class="actions">
    <%= f.submit '提交'%>
  </div></li>
    
</ul>
  
<% end %>

	
<script>
$(function() {



    $(".new_article").validate({
    	//errorElement: "b",
    	debug: true,
        rules: {
       	 "article[title]": "required",
         content: {required: true}
         

        },
       messages:{
       
        content: { required: "请输入商品详细信息！"}
       
    }

})



})
</script>




