<%=stylesheet_link_tag "nrstyle", "data-turbolinks-track" => true %>
<%=render "/home/special_project"%>
<div class="in_nr">
   <div class="blank20"></div>
  <div class="width1000">
   
    <article class="xmny_left">
     
      <div>
      <div class="blank10"></div>
    <h1 class="xmnyH1" ><%=@article.title%></h1>    
        <div class="blank20"></div>
         <%=raw @article.content.try(:body)%>

     
      </div>
      
    </article>
    <%=render "article_left"%>
   
  </div>
  <div class="blank20"></div>
</div>
