<%=render "shared/admin_setting_left"%>
<div id="main-wrapper">
	<div id="main-content">
		<%=render "shared/notice"%>
        <div class="title">
		<h3>后台-特色项目管理</h3>
			
			
		</div>


        <div class="hastable">
					
						<table> 
						<thead> 
						<tr>
							<th>#ID</th>
							<th>特色项目名称</th>
							<th>特色项目简介</th>
						    <th>内容</th> 			    
						    <th>操作</th> 
							
						</tr> 
						</thead> 
						<tbody> 
						<% @projects.each do |project| %>
						<tr>
							<td class="center"><%=project.id%></td> 
							<td><%=project.name%></td> 
						    <td><%= project.info %></td> 
						    <td><%= project.content.try(:body) %></td> 
	
						    <td>
								<a class="btn_no_text btn ui-state-default ui-corner-all tooltip" title="Edit this example" href="/admin/projects/<%=project.id%>/edit">修改
								</a> 
								<%= link_to '删除', admin_project_path(project), method: :delete, data: { confirm: 'Are you sure?' },class: "btn_no_text btn ui-state-default ui-corner-all tooltip" %>
						
							</td>
					
						</tr> 
					   <%end%>			
						</tbody>
						</table>
						<%#=paginate @users%>



</div>
<div class="clearfix"></div>
</div>

</div>





