<%= stylesheet_link_tag    "/special_projects/#{params[:id]}/css/style"%>
<%=raw @project.content.try(:body)%>

<div class="blank20"></div>


<div class="park02 width1000">
	
		<div class="header">
			<h1><img src="/special_projects/7/images/h1_2.png" width="1000" height="54" alt="邵氏多维形体雕塑术经典案例"></h1>
		</div class="header">
		<div class="blank20"></div>
		<ul>
			<%@cases.each do |ca|%>
			<li>
				 <div class="park02_img">
              <div class="before">
              	<%=image_tag ca.before_image,width: "137",height: "126"%>
               
                <span>before</span>
              </div>
              <div class="after">
               <%=image_tag ca.after_image,width: "137",height: "126"%>
                <span>after</span>
              </div>
            </div>
			 
			  <h2><%=ca.title%></h2>	

    
            
         
           
            </li>
            <%end%>

		
		
			
		</ul>
		<div class="blank20"></div>

	
	
</div>


 <%=render "/projects/person_card"%>


