<%= stylesheet_link_tag    "/special_projects/#{params[:id]}/css/style"%>
<%=raw @project.content.try(:body)%>
<div class="blank30"></div>



<div class="park01 width1000">
<div class="park01_2">
			<h1><img src="/special_projects/2/images/h1_1_2.png" width="998" height="52" alt="邵氏无痕重睑术  —— 经典案例"></h1>
		<ul>
			<%@cases.each do |ca|%>
			<li>
            <div class="park01_sq">
            	<%=image_tag ca.before_image,width: "146",height: "180"%>
             
              <h2 class="ie6png">术前</h2>
            </div>
            <div class="park01_sh">
            <%=image_tag ca.after_image,width: "146",height: "180"%>
             <h2 class="ie6png">术后</h2>
            </div>
            
            </li>
            <%end%>


			
		</ul>
		<div class="blank20"></div>
		<a href="" class="zxzx"><img src="/special_projects/1/images/zxzx.png" alt="在线咨询"></a>
		<div class="blank20"></div>
	</div>	
</div>





<%=render "/projects/person_card"%>

