<%= stylesheet_link_tag    "/special_projects/#{params[:id]}/css/style"%>
<%=raw @project.content.try(:body)%>
<div class="blank30"></div>

<div class="park03 width1000">
	<div class="header">
	  	<h1><img src="/special_projects/6/images/h1_3.png" alt="实例见证" width="986" height="56" usemap="#Map2">
          <map name="Map2">
            <area shape="rect" coords="844,9,970,43" href="#">
          </map>
	  	</h1>
	</div class="header">
	<div class="blank30"></div>
	
	<ul>
		<%@cases.each do |ca|%>
			<li>
    
            	<%=image_tag ca.after_image,width: "222",height: "222"%>
            	 <span class="artical_span park03_span ie6png"></span>
            	  <h2> <%=ca.title%></h2>
             
         
           
            </li>
            <%end%>
			

	</ul>
	
	<div class="blank30"></div>
</div>


<%=render "/projects/person_card"%>
