<%= stylesheet_link_tag    "/special_projects/#{params[:id]}/css/style"%>
<%=raw @project.content.try(:body)%>
<div class="blank10"></div>

<div class="park03 width1000">
 <div class="header"><h1><img src="/special_projects/4/images/h1_3.png" alt="邵氏鼻综合整形术经典案例"></h1></div class="header">
	<div class="blank30"></div>
		<div class="blank30"></div>
		
<ul>
	<%@cases.each do |ca|%>
			<li>
				<div class="park03_li01_head park03_li_head">
      <h2><%=ca.title%></h2>
      <div class="park03_li_img">
      	<%=image_tag ca.after_image,width: "135",height: "135"%>
       
         <span  class="artical_span park03_li_span ie6png" > </span>
      </div>
    </div>
    
	<p><%=ca.info%></p>

    
            <%end%>


</ul>		
	
</div>

<div class="blank30"></div>
<div class="blank30"></div>


<%=render "/projects/person_card"%>

