<%= stylesheet_link_tag    "/special_projects/#{params[:id]}/css/style"%>


<%=raw @project.content.try(:body)%>

	<div class="blank30"></div>
	<div class="park03">
		<div class="header">
			<h1><img src="/special_projects/3/images/h1_3.png" width="1000" height="55" alt="邵氏无痕三层收紧眼袋祛除术 —— 经典案例   "></h1>
		</div class="header">
		<div class="blank30"></div>



  <div class=" park03_box">
  	<div class="park03_scroll_box">
  		<ul id="park03_scroll">
  		
  				<%@cases.each do |ca|%>
			<li>
            <div class="park01_sq">
            	 <figure class="before">
     <%=image_tag ca.before_image,width: "386",height: "260"%>
              
               <figcaption>手术前</figcaption>
  			</figure>
             <figure class="after">
             
              <%=image_tag ca.before_image,width: "386",height: "260"%>
               <figcaption>手术后</figcaption>
  			</figure>

            	
             
           
            
            </li>
            <%end%>

            
            </li>
            
          
  		</ul>
  		
  		
  	</div>
  	<a href="javascript:;" class="left_btn"><img src="/special_projects/3/images/leftbtn.png"></a>
  		<a href="javascript:;" class="right_btn"><img src="/special_projects/3/images/rightbtn.png"></a>
  	
  </div>		
		
		
		
	</div>



	<div class="blank30"> </div>
<%=render "person_card"%>