<%= stylesheet_link_tag    "/special_projects/#{params[:id]}/css/style"%>
<%=raw @project.content.try(:body)%>
	<div class="blank30"></div>
	
	<div class="park02 width1000">
		<div class="header">
			<h1><img src="/special_projects/8/images/h1_2.png" alt="邵氏微创双平面隆乳术经典案例" width="1000" height="54" usemap="#Map2">
              <map name="Map2">
                <area shape="rect" coords="893,15,1000,42" href="#">
              </map>
			</h1>
		</div>
		<div class="div_box">
		<div class="blank30"></div>
		<ul>
			<%@cases[0..3].each do |ca|%>
			<li>
    
            	<%=image_tag ca.after_image,width: "222",height: "222"%>
            	 <span class="artical_span park03_span ie6png"></span>
            	  <h2> <%=ca.title%></h2>
             
         
           
            </li>
            <%end%>
		
		</ul>
		<div class="blank30"></div>
		<div class="blank10"></div>
		</div>
	</div>
	
	<div class="blank30"></div>

   <%=render "/projects/person_card"%>

	
	

<div class="blank20"></div>