<!DOCTYPE html>
<html>
<head>
  <title>邵大山整容中心</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lte IE 8]>
  <%= javascript_include_tag "html5", "data-turbolinks-track" => true %>

<![endif]-->
<!--[if IE 6]>
	  <%= javascript_include_tag "IE6PNG", "data-turbolinks-track" => true %>

    <script>
    	DD_belatedPNG.fix(".in_head_tel img,.in_head_logo img,.foot_logo a");
    </script>
<![endif]-->
</head>

<body class="inbody">

	<%=render "layouts/header"%>

<div class="banner">
  <ul id="banscrollul">
    <li > <a href="#" title="焦点图1"> <img  src="images/banner1.jpg"  width="100%" alt=""> </a> </li>
    <li > <a href="#" title="焦点图1"> <img  src="images/banner2.jpg"  width="100%" alt=""></a> </li>
    <li  > <a href="#" title="焦点图1"> <img  src="images/banner3.jpg"  width="100%" alt=""></a> </li>
    <li> <a href="#" title="焦点图1"> <img  src="images/banner4.jpg"  width="100%" alt=""></a> </li>
    <li> <a href="#" title="焦点图1"> <img  src="images/banner5.jpg"  width="100%" alt=""></a> </li>
  </ul>
  <ul  id="ban_btn">
    <li class="ban_btn_cur"> 1</li>
    <li > 2</li>
    <li > 3</li>
    <li > 4</li>
    <li > 5</li>
  </ul>
</div>


<%= yield %>


	<%=render "layouts/footer"%>

</body>
</html>


