<!DOCTYPE html>
<html>
<head>
  <title>邵大山整容中心</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lte IE 8]>
  <%= javascript_include_tag "html5", "data-turbolinks-track" => true %>

<![endif]-->
<!--[if IE 6]>
	  <%= javascript_include_tag "IE6PNG", "data-turbolinks-track" => true %>

    <script>
    	DD_belatedPNG.fix(".in_head_tel img,.in_head_logo img,.foot_logo a");
    </script>
<![endif]-->
</head>

<body class="inbody">

	<%=render "layouts/header"%>

<div class="banner">
  <ul id="banscrollul">
   
    <li> <a href="#" title="焦点图1"> <img  src="/images/banner5.jpg"  width="100%" alt=""></a> </li>
    <li> <a href="#" title="焦点图1"> <img  src="/images/banner5.jpg"  width="100%" alt=""></a> </li>
  </ul>
  <ul  id="ban_btn">
    <li class="ban_btn_cur"> 1</li>
    <li > 2</li>
 
  </ul>
</div>


<%= yield %>


	<%=render "layouts/footer"%>

</body>
</html>
  <script>
$(document).ready(function(e) {
	$(".nr_leftxm_list").find("h3").click(function(){
       $(".nr_leftxm_list").find("h3").not(this).removeClass("xm_h3_click")
		$(this).addClass("xm_h3_click")
		var i=$(this).index(".nr_leftxm_list ul li h3");
		var a=$(".nr_leftxm_list hgroup:visible").index(".nr_leftxm_list hgroup")
		if(i==a){}
		else{
		$(".nr_leftxm_list ul li").find("hgroup").slideUp()
		$(this).parent().find("hgroup").slideDown()
		}
		})
	
	$(".in_zxyy a").hover(function(){
		
		$(this).addClass("in_zxyycur");
		$(".in_zxyy a").not(this).removeClass("in_zxyycur");
		})
	
//banner焦点图处理
	 $.fn.scrollfn({
                OverTime: 500,  //效果的缓冲时间
                Btnul: "#ban_btn",
                BannerBtnclass: "ban_btn_cur",
                type: 1,
                isAutomatic: 1
            },"#banscrollul")
	//选项卡处理		
	 $.fn.scrollfn({
                
                Btnul: "#nr_dyp_navul",
                BannerBtnclass: "nr_dyp_navli_cur",
                type: 2,
				ImgBoxChild:"div" 
            }, "#nr_dyp_box");		
			//热门专题切换处理
	 $.fn.scrollfn({
                OverTime: 500,  //效果的缓冲时间
				Titleul:"#nr_leftrmzt_tit", 
                Btnul: "#nr_leftrmzt_btn",
                BannerBtnclass: "nr_leftrmzt_cur",
                type: 0,
                isAutomatic: 1
            }, "#nr_leftrmzt_ul");
			//案例对比滚动		
	 $.fn.scrollfn({
                OverTime: 500,  //效果的缓冲时间 
				leftbtn:".aldb_left",         //左右切换按钮的类名设置
		     	rightbtn:".aldb_right",
                type: 0,
                isAutomatic: 1,
        
                deomShownum:2
            }, "#aldb_ul")				
			
})
</script>
